
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  
  @layer base {
    :root  {
      --background: 271 0% 100%;
      --foreground: 271 0% 10%;
      --card: 271 0% 100%;
      --card-foreground: 271 0% 15%;
      --popover: 271 0% 100%;
      --popover-foreground: 271 95% 10%;
      --primary: 271 81.3% 55.9%;
      --primary-foreground: 0 0% 100%;
      --secondary: 271 10% 90%;
      --secondary-foreground: 0 0% 0%;
      --muted: 233 10% 95%;
      --muted-foreground: 271 0% 40%;
      --accent: 233 10% 90%;
      --accent-foreground: 271 0% 15%;
      --destructive: 0 50% 50%;
      --destructive-foreground: 271 0% 100%;
      --border: 271 20% 82%;
      --input: 271 20% 50%;
      --ring: 271 81.3% 55.9%;
      --radius: 0.5rem;
    }
    .dark  {
        --background: 271 10% 5%;
      --foreground: 271 0% 90%;
      --card: 271 0% 2%;
      --card-foreground: 271 0% 90%;
      --popover: 271 10% 5%;
      --popover-foreground: 271 0% 90%;
      --primary: 271 70% 57%;
      --primary-foreground: 0 0% 100%;
      --secondary: 271 10% 10%;
      --secondary-foreground: 0 0% 100%;
      --muted: 233 10% 15%;
      --muted-foreground: 271 0% 60%;
      --accent: 233 10% 15%;
      --accent-foreground: 271 0% 90%;
      --destructive: 0 50% 30%;
      --destructive-foreground: 271 0% 90%;
      --border: 271 20% 18%;
      --input: 271 20% 18%;
      --ring: 271 70% 57%;
      --radius: 0.5rem;
    }
  }
  
  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }
  